.ContactsContainer {
  margin-top: 20px;
  color: #565656;

  .image {
    margin-top: 10px;
    width: 1110px;
    @media screen and (max-width: 1000px) {
     width: 800px;
    } @media screen and (max-width: 820px) {
     width: 500px;
    }
  }

  .dataContactsBlock {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    @media screen and (max-width: 1135px) {
      display: grid;
      flex-direction: column;
    }

    .dataContactsWrapper {
      margin: 20px 0 20px;
      width: 318px;

      span {
        font-size: 20px;
        padding-right: 10px;
        padding-bottom: 7px;
      }

      p {
        padding: 10px 0 10px 0;
      }

      a:hover {
        color: #a6cf39;
      }
    }

    .formWrapper {
      flex: 0 0 100%;
      position: relative;
      padding-right: 15px;
      padding-left: 15px;


      .inputsWrapper {
        display: flex;
        flex-direction: row;
        margin: 20px 0 20px;
        @media screen and (max-width: 780px) {
          display: grid;
          flex-direction: column;
        }

        h3 {
          font-size: 19px;
          font-weight: normal;
          color: #565656;
          margin-bottom: 1.2rem;
          margin-top: 1rem;
        }

        .inputBlock {
          flex: 0 0 70%;
          padding-right: 35px;

          .singleInputWrapper {
            position: relative;
          }

          .input {
            padding: 5px 10px;
            font-size: 15px;
            box-sizing: border-box;
            width: 100%;
            border: 1px solid #ccc;
            margin-bottom: 26px;
          }
        }

        .inputError {
          position: absolute;
          color: red;
          font-size: 9px;
          right: 5px;
          top: 7px;
        }

        textarea {
          padding: 5px 10px;
          width: 100%;
          height: 202px;
          border: 1px solid #ccc;
          @media screen and (max-width: 780px) {
            width: 92%;
            height: 150px;
          }
        }
      }

      .checkbox {
        margin-right: 7px;
      }

      .submitWrapper {
        text-align: center;
        color: #565656;
        max-width: 100%;

        .submitButton {
          background: white;
          margin: 24px 0 24px;
          padding: 8px 16px;
          font-weight: bold;

          &:focus {
            border: 3px solid #a6cf39;
          }
        }
      }

      .error {
        border: 1px solid #ffcc00;
        height: 30px;
        width: 100%;
        text-align: center;
      }
    }

  }
}








