.content{
  position: relative;
}

.leftShadeBorder{
  background: grey;
  height: 103px;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.titleContainer {
  margin-top: 30px;
  height: 103px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  color: white;

  .titleProduct {
    width: 65.5%;
    background: #808080;
    margin-right: 44px;
    padding-top: 36px;
z-index: 2;
  }

  .linkFB {
    background: #a6cf39;
    width: 340px;
    //padding: 36px 65px;

    a {
      color: white;
    }
  }
}


.ProductContainer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  .product {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-top: 35px;
    @media screen and (width: 1025px) {
    width: 80%;
  }


    .imageContainer {


    }

    .title {
      color: #a6cf39;
      font-size: 15px;
      margin-top: 40px;
    }

    .description {
      margin: 35px 0 35px;
      font-size: 12px;
    }
  }
}








