
.navbarWrapper {
  width: 100%;
  background-color: #a6cf39;
  height: 72px;
  position: sticky;
  z-index: 999;
  top: 0;

  .navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .navbar {
      z-index: 2;
      background: #a6cf39;
      width: 860px;
      display: flex;
      a {
        display: flex;
        align-items: center;
        padding: 0 30px 0;
        height: 100%;
        font-size: 15px;
        font-weight: 400;
        cursor: pointer;
        color: white;
        @media screen and (max-width: 905px) {
          padding: 0 10px 0;
        }
        @media screen and (max-width: 607px) {
          padding: 0 5px 0;
          font-size: 13px;
        }
        &:hover {
          background: grey;
        }
      }
    }
  }

  .inputWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    background: grey;

    ::-webkit-input-placeholder {
      color: #fdfdfd;
      opacity: 1;
    }

    .input {
      margin-left: 20px;
      color: white;
      border: none;
      background: #808080;
      z-index: 2;
      @media screen and (max-width: 607px) {
        font-size: 13px;
        margin: 0;
      }
    }

    .icon {
      color: white;
      font-size: 40px;
      padding: 13px;
      z-index: 2;
      @media screen and (max-width: 665px) {
        font-size: 30px;

      }
    }
  }
}

.rightShadeBorder {
  background: #808080;
  height: 72px;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

